body {
    background: lightblue;
    font-family: Comic Sans MS;
    
}

h1 {
    color: black;
    font-family: Comic Sans MS;
    text-align: center;
}

#titlebuttons {
    display:flex;
    flex-direction:column;
    align-items: center;
     
}

#dogs {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    text-align: center;

}

footer {
    text-align: center;

}

#foodlove1 {
    text-align: center;
}

#foodlove2 {
    text-align: center;
}

#foodlove3 {
    text-align: center;
}

#love {
    color: black;
    border-radius: 12px;
    width: 125px;
    outline: none;
    font-weight: bold;
}

#feed {
    color: black;
    border-radius: 12px;
    width: 125px;
    outline: none;
    font-weight: bold;
}

#reset {
    color: black;
    border-radius: 12px;
    width: 125px;
    outline: none;
    font-weight: bold;
}
    